    .sparkle {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: white;
        border-radius: 50%;
        opacity: 0.8;
        pointer-events: none;
        /* box-shadow: 0px 0px 2px white,
        0px 0px 3px 2px white; */
        animation: starryGlow 4s infinite;
    }
    @keyframes starryGlow{
        0%{
            opacity: 1;
        }
        50%{
            opacity:0;
        }
        100%{opacity:1;}
    }